<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <value name="http://daeipresal43626.eur.ad.sag:6666">b7262a88-da09-4a9d-a979-64fe97ee77e6</value>
  </record>
</IDataXMLCoder>
