<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <value name="http://daeipresal43626.eur.ad.sag:6666">74be61b3-1ea3-436f-8f31-8e517afdd26c</value>
  </record>
</IDataXMLCoder>
