<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <value name="http://daeipresal43626.eur.ad.sag:6666">135de32d-75de-415d-89fb-c3866bd27dd9</value>
  </record>
</IDataXMLCoder>
