<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <value name="http://daeipresal43626.eur.ad.sag:6666">829808f5-885b-4ac3-b738-2d2bd8e30df1</value>
  </record>
</IDataXMLCoder>
